<p>Welcome to CW Dash! To connect your Omron Fitness account, input your organization code and click 'Connect.'</p>

<%= render 'form' %>

<%= link_to "Return to your Omron Fitness Profile", 'http://www.omronfitness.com/my-profile/' %>
