<p>We're sorry. The code you entered is not valid. Please try inputting your code again. If you continue to have trouble please contact your program director to verify your code. Otherwise contact customer support.'</p>

<%= render 'form' %>
