<p>Current Quarter = <%= @start_date %></p>

<table>
<tr>
<td>Culprit's Name</td>
<td>Culprit's Email</td>
</tr>
<% @person_quarters.each do |pq| %>
<% person = Person.find(pq.person_id) %>
  <% if person %>
    <tr>
    <td><%= "#{person.try(:first_name)} #{person.try(:last_name)} " %></td>
    <td><%= person.try(:email) %></td>
    </tr>
  <% end %>
<% end %>

</table>